body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: linear-gradient(135deg, #5dade2, #2e86c1);
    padding: 30px;
    border-radius: 15px;
    width: 450px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    resize: none;
    font-size: 16px;
    outline: none;
}

.button-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.encrypt-btn {
    background: linear-gradient(135deg, #58d68d, #27ae60);
}

.decrypt-btn {
    background: linear-gradient(135deg, #e67e22, #d35400);
}

button:hover {
    opacity: 0.85;
}
