body {
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px;
}

canvas {
    background: #000;
    margin-top: 20px;
    border-radius: 10px;
}
