body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('pic2.jpg') no-repeat center center;
    background-size: cover;
}

/* Dark overlay */
body::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: -1;  /* behind content */
}



.container {
    background: linear-gradient(135deg, #8fa50f, #2e86c1);
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    outline: none;
}

.strength-bar {
    width: 100%;
    height: 15px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

#strength-fill {
    height: 100%;
    width: 0%;
    background-color: red;
    border-radius: 10px;
    transition: width 0.3s, background-color 0.3s;
}

#strength-text {
    font-weight: bold;
}
