body {
  margin:0;
  font-family: Arial, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background: white;
  color:#000000;
}

.visualizer {
  background:#fff;
  padding:25px;
  border-radius:15px;
  border: 5px solid #ff0000;
  text-align:center;
  position: relative;
}

h1 {
  margin-bottom:15px;
  background-color: #00c3ff;
  width: 500px;
  align-items: center;
  border-radius: 15px;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
}

.main-content {
  display: flex;
  gap:20px;
  margin-top:20px;
  justify-content:center;
  width: 1000px;
}

canvas {
  border:1px solid #111;
  border-radius:10px;
  background:#f0faff;
  width: 700px;
}

.sidebar {
  display:flex;
  flex-direction: column;
  gap:20px;
  padding:20px;
  border-left:10px solid #00ff22;
  margin-left: 30px;
}

input {
  padding:5px;
  border-radius:5px;
  border:1px solid #ccc;
}

button {
  padding:8px 12px;
  margin:5px 0;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-size:1rem;
  background:#0dff00;
  color:#111;
  transition:0.3s;
}

button:hover {
  background:#ff00ff;
  color:#fff;
}

label {
  display:flex;
  flex-direction: column;
  font-size:0.9rem;
}
