body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;

    background: url("picture.jpg") center/cover no-repeat fixed;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);   /* adjust opacity here */
    z-index: -1;
}




.scoreboard {
    position: relative;
    z-index: 1;

    display: flex;
    gap: 60px;
    background: #1b1b1b;
    padding: 60px;   /* bigger */
    border-radius: 25px;
    box-shadow: 0 0 25px rgba(255,255,255,0.15);
    transform: scale(1.1);   /* Slight enlargement */
}



.team {
display: flex;
flex-direction: column;
align-items: center;
gap: 15px;
}


.team input {
font-size: 22px;
text-align: center;
padding: 5px 10px;
border-radius: 8px;
border: none;
background: #333;
color: white;
}


button {
width: 70px;
padding: 10px;
font-size: 18px;
border: none;
border-radius: 10px;
background: #ff5722;
color: white;
cursor: pointer;
transition: 0.2s;
}


button:hover {
background: #ff784e;
}


.team-logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;     /* circular logo */
    border: 3px solid white;
    margin-top: 10px;
    display: none;          /* hidden until upload */
}

.team input[type="file"] {
    color: white;
    font-size: 14px;
}
